*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* contact page ko style */
.contact{
    height: 80vh;
    background-image: url(gg.jpg);
    background-position: center;
    background-size: cover;
    display: flex-end;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.contact p{
    color: #DE6E23;
    font-size: 18px;
    padding-left: 15px;
    float: right;
    margin-right: 4%;
    margin-top: 1%;
    font-weight: bold;
}
.contact img{
    height: 14vh;
    margin-top: 2%;
    margin-left: 3%;
}
.contact ul{
    display: flex;
    margin-top: -4%;
    margin-left: 16%;
    font-size: 18px;
}
.contact li,a{
    color: white;
    padding-left: 20px;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    margin-top: 1%;
}
.contact a:hover{
    color: #DE6E23;
}
.contact h1{
    color: #DE6E23;
    text-align: center;
    justify-content: center;
    margin-top: 10%;
    font-size: 110px;
    font-weight: 800px;
}
.main{
    height: 150vh;
    width: 100%;
    display: flex;
}
.main .left{
    margin-top: 10%;
    margin-left: 8%;
    width: 50%;
}
.main .left h3{
    font-size: 40px;
}
.main .left p{
    margin-top: 12%;
    font-size: 20px;
}
.main .left .fa-brands{
    margin-top: 10%;
    color: white;
    background-color: black;
    height: 5vh;
    width: 8%;
    line-height: 5vh;
    border-radius: 300px;
    padding-left: 13px;
    cursor: pointer;
}
.main .left .fa-brands:hover{
    background-color: #DE6E23;
}
.main .left iframe{
    margin-top: 8%;
}
.main .right{
    margin-top: 10%;
    margin-left: 8%;
    width: 50%;
    background-color: #FDFDFD;
}
.main .right h3{
    font-size: 40px;
}
.main .right p{
    margin-right: 4%;
    margin-top: 2%;
    font-size: 18px;
}
.main .right input{
    height: 8vh;
    margin-left: 4%;
    border-radius: 6px;
    width: 40%;
}
.main .right input::placeholder{
    font-size: 18px;
    line-height: 8vh;
    padding-left: 5%;
}
.main .right textarea{
    margin-top: 5%;
    margin-left: 4%;
    width: 85%;
}
.main .right textarea::placeholder{
    font-size: 18px;
    padding-top: 2%;
    padding-left: 5%;
    border-radius: 3px;
}
.main .right button{
    height: 6vh;
    width: 18%;
    margin-left: 4%;
    margin-top: 5%;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    background-color: #DE6E23;
    cursor: pointer;
    color: #FDFDFD;
}
.main .right button:hover{
    background-color: #351d0d;
}
.footer{
    height: 51vh;
    background-color: black;
    margin-top: 10%;
    display: flex;
}
.footer .first{
    height: 45vh;
    width: 25%;
    margin-top: 2%;
}
.footer .first h3{
    color: white;
    text-align: center;
    margin-top: 6%;
}
.footer .first p{
    margin-top: 2%;
}
.footer .first a{   
    margin-left: 28%;
}
.footer .first a:hover{
    color: #DE6E23;
}
.footer .second{
    height: 45vh;
    width: 25%;
    margin-top: 2%;
}
.footer .second h3{
    color: white;
    text-align: center;
    margin-top: 6%;
}
.footer .second p{
    margin-top: 2%;
}
.footer .second a{
    margin-left: 28%;
}
.footer .second a:hover{
    color: #DE6E23;
}
.footer .third{
    height: 45vh;
    width: 25%;
    margin-top: 2%;
}
.footer .third h3{
    color: white;
    text-align: center;
    margin-top: 6%;
}
.footer .third p{
    margin-top: 2%;
}
.footer .third a{
    margin-left: 28%;
}
.footer .third a:hover{
    color: #DE6E23;
}
.footer .fourth{
    height: 45vh;
    width: 25%;
    margin-top: 2%;
}
.footer .fourth h3{
    color: white;
    text-align: center;
    margin-top: 6%;
    margin-left: -18%;
}
.footer .fourth p{
    margin-top: 2%;
    color: white;
    font-size: 19px;
}
.footer .fourth .p{
    margin-top: 2%;
    color: white;
    font-size: 19px;
}
.footer .fourth .p:hover{
    color: #DE6E23;
}
.footer .fourth a{
    font-size: 20px;
}
.footer .fourth a:hover{
    color: #DE6E23
}
.footer .fa-sharp{
    margin-left: 30%;
    color: white;
}
.footer .fa-solid{
    margin-left: 30%;
    margin-top: 1%;
}
.footer .social-media{
    width: 40%;
    margin-left: 26%;
    margin-top: 5%;
}
.footer .fa-brands{
    margin-top: 15%;
    padding-left: 2%;
}
.copyright{
    border-top: 2px solid white;
    height: 12vh;
    background-color: black;
    display: flex;
}
.copyright img{
    height: 12vh;
    margin-left: 8%;
    cursor: all-scroll;
}
.copyright p{
    color: white;
    font-size: 19px;
    line-height: 12vh;
    margin-left: 1%;
}

/* home page / index page ko style */
.nav{
    height: 100vh;
    width: 100%;
    background-image: url(tt.jpg);
    background-position: center;
    background-size: cover;
    display: flex-end;
    background-repeat: no-repeat;
    opacity: -2px;
}
.nav p{
    color: #DE6E23;
    font-size: 18px;
    padding-left: 5px;
    float: right;
    margin-right: 4%;
    margin-top: 1%;
    font-weight: bold;
}
.nav img{
    height: 14vh;
    margin-top: 2%;
    margin-left: 3%;
}
.nav ul{
    display: flex;
    margin-top: -4%;
    margin-left: 16%;
    font-size: 18px;
}
.nav li,a{
    /* color: ; */
    padding-left: 30px;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    margin-top: 1%;
    font-weight: bold;
    color: #DE6E23;
}

.nav h1{
    color: #DE6E23;
    text-align: center;
    justify-content: center;
    margin-top: 10%;
    font-size: 80px;
    font-weight: 800px;
}
.nav .p{
    color: white;
    float: left;
    margin-left: 38%;
}
.nav button{
    background-color: #DE6E23;
    color: #FDFDFD;
    margin-left: 45%;
    margin-top: 1%;
    height: 5vh;
    width: 10%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}
.nav button:hover{
    background-color: transparent;
}
.about-us{
    height: 15vh;
    width: 100%;
    display: flex;
}
.about-us h1{
    margin-top: 3%;
    margin-left: 39%;
    color: #DE6E23;
    font-size: 2rem;
    font-weight: 600;
}
.about{
    height: 50vh;
    width: 100%;
    display: flex;
}
.about .left{
    width: 50%;

}
.about .left p{
    font-size: 18px;
    margin-top: 7%;
    margin-left: 8%;
    margin-right: 2%;
    text-align: center;
}
.about .right{
    width: 50%;
}
.about .right img{
    height: 48vh;
    margin-top: 2%;
    width: 90%;
    margin-left: 1%;
}
.services{
    height: 88vh;
}
.services h1{
    color: #DE6E23;
    text-align: center;
    margin-left: 4%;
    margin-top: 8%;
}
.services button{
    height: 6vh;
    width: 12%;
    font-weight: bold;
    border: none;
    background-color: #DE6E23;
    border-radius: 8px;
    margin-left: 42%;
    font-size: 1rem;
    cursor: pointer;
}
.services button:hover{
    background-color: black;
    color: #DE6E23;
}
.reason{
    margin-top: 12%;
}
.reason h1{
    text-align: center;
    font-size: 2.3rem;
    color: #DE6E23;
}
.reason .cards{
    width: 100%;
    margin-top: 3%;
}
.reason .card{
    width: 80%;
    display: flex;
    margin-left: 10%;
}
.reason .card .one,.two,.three,.four{
    width: 20%;
    margin-left: 5%;
}
.reason .card .fa-solid{
    font-size: 7vh;
    margin-left: 35%;
}
.reason .card .one h1,.two h1,.three h1,.four h1{
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
    margin-top: 4%;
}
.reason .card .one p,.two p,.three p,.four p{
    margin-top: 3%;
    text-align: center;
}
.gallery{
    margin-top: 8%;
}
.gallery h1{
    text-align: center;
    font-size: 2.3rem;
    color: #DE6E23;
}
.gallery .photos{
    height: 58vh;
    width: 90%;
    background-color: black;
    margin-top: 3%;
    margin-left: 6%;
    border: 4px solid #DE6E23;
}
.gallery .photos img{
    height: 25vh;
    width: 16%;
    margin-left: 4px;  
    margin-top: 8px;
    cursor: pointer;;
    transition: .3s linear;
}
.gallery .photos img:hover{
    opacity: 0.7;
    transform: scale(1.1);
}
.location{
    margin-top: 8%;
    display: flex;
    background-color: #373737;
    width: 80%;
    height: 26vh;
    margin-left: 10%;
}
.location .left{
    width: 60%;
}
.location .left iframe{
    height: 22vh;
    width: 96%;
    margin-top: 2vh;
    margin-left: 2%;
}
.location .right{
    width: 40%;
}
.location .right h1{
    color: #DE6E23;
    margin-top: 14%;
}
.location .right button{    
    height: 6vh;
    background-color: #DE6E23;
    color: black;
    cursor: pointer;
    padding-right: 4%;
    border: none;
    border-radius: 8px;
    margin-top: 2%;
    margin-left: 20%;
}